<h3 style="text-align: center;">Observable</h3>
<ul class="form-group">
  <li class="form-control"><a routerLink="observable">Observable</a></li>
</ul>
<h3 style="text-align: center;">Operators</h3>
<ul class="form-group">
  <li class="form-control"><a routerLink="of">Of Operator</a></li>
  <li class="form-control"><a routerLink="from">From Operator</a></li>
  <li class="form-control"><a routerLink="fromEvent">FromEvent Operator</a></li>
  <li class="form-control"><a routerLink="interval">Interval Operator</a></li>
  <li class="form-control"><a routerLink="debounceTime">DebounceTime Operator</a></li>
  <li class="form-control"><a routerLink="take">Take Operator</a></li>
  <li class="form-control"><a routerLink="takeWhile">TakeWhile Operator</a></li>
  <li class="form-control"><a routerLink="takeLast">TakeLast Operator</a></li>
  <li class="form-control"><a routerLink="first">First Operator</a></li>
  <li class="form-control"><a routerLink="last">Last Operator</a></li>
  <li class="form-control"><a routerLink="elementAt">ElementAt Operator</a></li>
  <li class="form-control"><a routerLink="filter">Filter Operator</a></li>
  <li class="form-control"><a routerLink="distinct">Distinct Operator</a></li>
  <li class="form-control"><a routerLink="skip">Skip Operator</a></li>
  <li class="form-control"><a routerLink="count">Count Operator</a></li>
  <li class="form-control"><a routerLink="max">Max Operator</a></li>
  <li class="form-control"><a routerLink="min">Min Operator</a></li>
  <li class="form-control"><a routerLink="map">Map Operator</a></li>
  <li class="form-control"><a routerLink="tap">Tap Operator</a></li>
  <li class="form-control"><a routerLink="concat">Concat Operator</a></li>
  <li class="form-control"><a routerLink="bufferTime">BufferTime Operator</a></li>
  <li class="form-control"><a routerLink="concatMap">ConcatMap Operator</a></li>
  <li class="form-control"><a routerLink="merge">Merge Operator</a></li>
  <li class="form-control"><a routerLink="mergeMap">MergeMap Operator</a></li>
  <li class="form-control"><a routerLink="startWith">StartWith Operator</a></li>
  <li class="form-control"><a routerLink="switchMap">SwitchMap Operator</a></li>
</ul>

